[global_config]
  dbus = False
  always_split_with_profile = True
[keybindings]
[profiles]
  [[default]]
    font = Monospace 11
    scrollback_infinite = True
    use_system_font = False
  [[domain0]]
    background_color = "#101820"
    font = Monospace 11
    foreground_color = "#D8E9FF"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
  [[player]]
    background_color = "#101A14"
    font = Monospace 11
    foreground_color = "#D8FFE3"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[aichallenge-1p]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1600, 900
      title = AI Challenge - 1 Player
    [[[main_split]]]
      type = VPaned
      parent = window0
      order = 0
      position = 360
      ratio = 0.4
    [[[simulator]]]
      type = Terminal
      parent = control_split
      order = 0
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared simulator
    [[[control_split]]]
      type = HPaned
      parent = main_split
      order = 0
      position = 800
      ratio = 0.5
    [[[auxiliary_split]]]
      type = HPaned
      parent = control_split
      order = 1
      position = 267
      ratio = 0.333
    [[[bag_manager]]]
      type = Terminal
      parent = auxiliary_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared bag-manager
    [[[utility_split]]]
      type = HPaned
      parent = auxiliary_split
      order = 1
      position = 267
      ratio = 0.5
    [[[free_shell]]]
      type = Terminal
      parent = utility_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash free-shell 1
    [[[control]]]
      type = Terminal
      parent = utility_split
      order = 1
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared stop-all
    [[[player1]]]
      type = Terminal
      parent = main_split
      order = 1
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 1
  [[aichallenge-2p]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1600, 900
      title = AI Challenge - 2 Players
    [[[main_split]]]
      type = VPaned
      parent = window0
      order = 0
      position = 360
      ratio = 0.4
    [[[simulator]]]
      type = Terminal
      parent = control_split
      order = 0
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared simulator
    [[[control_split]]]
      type = HPaned
      parent = main_split
      order = 0
      position = 800
      ratio = 0.5
    [[[auxiliary_split]]]
      type = HPaned
      parent = control_split
      order = 1
      position = 267
      ratio = 0.333
    [[[bag_manager]]]
      type = Terminal
      parent = auxiliary_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared bag-manager
    [[[utility_split]]]
      type = HPaned
      parent = auxiliary_split
      order = 1
      position = 267
      ratio = 0.5
    [[[free_shell]]]
      type = Terminal
      parent = utility_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash free-shell 1
    [[[control]]]
      type = Terminal
      parent = utility_split
      order = 1
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared stop-all
    [[[players_split]]]
      type = HPaned
      parent = main_split
      order = 1
      position = 800
      ratio = 0.5
    [[[player1]]]
      type = Terminal
      parent = players_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 1
    [[[player2]]]
      type = Terminal
      parent = players_split
      order = 1
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 2
  [[aichallenge-3p]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1600, 900
      title = AI Challenge - 3 Players
    [[[main_split]]]
      type = VPaned
      parent = window0
      order = 0
      position = 360
      ratio = 0.4
    [[[simulator]]]
      type = Terminal
      parent = control_split
      order = 0
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared simulator
    [[[control_split]]]
      type = HPaned
      parent = main_split
      order = 0
      position = 800
      ratio = 0.5
    [[[auxiliary_split]]]
      type = HPaned
      parent = control_split
      order = 1
      position = 267
      ratio = 0.333
    [[[bag_manager]]]
      type = Terminal
      parent = auxiliary_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared bag-manager
    [[[utility_split]]]
      type = HPaned
      parent = auxiliary_split
      order = 1
      position = 267
      ratio = 0.5
    [[[free_shell]]]
      type = Terminal
      parent = utility_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash free-shell 1
    [[[control]]]
      type = Terminal
      parent = utility_split
      order = 1
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared stop-all
    [[[players_split_left]]]
      type = HPaned
      parent = main_split
      order = 1
      position = 533
      ratio = 0.333
    [[[player1]]]
      type = Terminal
      parent = players_split_left
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 1
    [[[players_split_right]]]
      type = HPaned
      parent = players_split_left
      order = 1
      position = 533
      ratio = 0.5
    [[[player2]]]
      type = Terminal
      parent = players_split_right
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 2
    [[[player3]]]
      type = Terminal
      parent = players_split_right
      order = 1
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 3
  [[aichallenge-4p]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1600, 900
      title = AI Challenge - 4 Players
    [[[main_split]]]
      type = VPaned
      parent = window0
      order = 0
      position = 360
      ratio = 0.4
    [[[simulator]]]
      type = Terminal
      parent = control_split
      order = 0
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared simulator
    [[[control_split]]]
      type = HPaned
      parent = main_split
      order = 0
      position = 800
      ratio = 0.5
    [[[auxiliary_split]]]
      type = HPaned
      parent = control_split
      order = 1
      position = 267
      ratio = 0.333
    [[[bag_manager]]]
      type = Terminal
      parent = auxiliary_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared bag-manager
    [[[utility_split]]]
      type = HPaned
      parent = auxiliary_split
      order = 1
      position = 267
      ratio = 0.5
    [[[free_shell]]]
      type = Terminal
      parent = utility_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash free-shell 1
    [[[control]]]
      type = Terminal
      parent = utility_split
      order = 1
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared stop-all
    [[[player_pairs]]]
      type = HPaned
      parent = main_split
      order = 1
      position = 800
      ratio = 0.5
    [[[players_left]]]
      type = HPaned
      parent = player_pairs
      order = 0
      position = 400
      ratio = 0.5
    [[[player1]]]
      type = Terminal
      parent = players_left
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 1
    [[[player2]]]
      type = Terminal
      parent = players_left
      order = 1
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 2
    [[[players_right]]]
      type = HPaned
      parent = player_pairs
      order = 1
      position = 400
      ratio = 0.5
    [[[player3]]]
      type = Terminal
      parent = players_right
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 3
    [[[player4]]]
      type = Terminal
      parent = players_right
      order = 1
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared autoware 4
[plugins]
