[global_config]
  dbus = False
  always_split_with_profile = True
[keybindings]
[profiles]
  [[default]]
  [[training]]
    background_color = "#17111F"
    font = Monospace 11
    foreground_color = "#F0DEFF"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
  [[monitor]]
    background_color = "#101820"
    font = Monospace 10
    foreground_color = "#D8E9FF"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[tiny-lidar-training]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1600, 900
      title = TinyLiDARNet - Preprocess and Training
    [[[main_split]]]
      type = HPaned
      parent = window0
      order = 0
      position = 1000
      ratio = 0.625
    [[[pipeline]]]
      type = Terminal
      parent = main_split
      order = 0
      profile = training
      command = /aichallenge/utils/tiny_lidar_training_pane.bash pipeline
    [[[right_split_top]]]
      type = VPaned
      parent = main_split
      order = 1
      position = 300
      ratio = 0.333
    [[[gpu]]]
      type = Terminal
      parent = right_split_top
      order = 0
      profile = monitor
      command = /aichallenge/utils/tiny_lidar_training_pane.bash gpu
    [[[right_split_bottom]]]
      type = VPaned
      parent = right_split_top
      order = 1
      position = 300
      ratio = 0.5
    [[[status]]]
      type = Terminal
      parent = right_split_bottom
      order = 0
      profile = monitor
      command = /aichallenge/utils/tiny_lidar_training_pane.bash status
    [[[shell]]]
      type = Terminal
      parent = right_split_bottom
      order = 1
      profile = training
      command = /aichallenge/utils/tiny_lidar_training_pane.bash shell
[plugins]
