[global_config]
  dbus = False
  always_split_with_profile = True
[keybindings]
[profiles]
  [[default]]
  [[domain0]]
    background_color = "#101820"
    font = Monospace 11
    foreground_color = "#D8E9FF"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
  [[player]]
    background_color = "#101A14"
    font = Monospace 11
    foreground_color = "#D8FFE3"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
  [[training]]
    background_color = "#17111F"
    font = Monospace 11
    foreground_color = "#F0DEFF"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
  [[monitor]]
    background_color = "#11161D"
    font = Monospace 10
    foreground_color = "#D7E7F5"
    scrollback_infinite = True
    exit_action = hold
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[virtual-scan-rl]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1600, 900
      title = Virtual Scan RL - SAC Training
    [[[main_split]]]
      type = VPaned
      parent = window0
      order = 0
      position = 340
      ratio = 0.378
    [[[startup_split]]]
      type = HPaned
      parent = main_split
      order = 0
      position = 800
      ratio = 0.5
    [[[autoware]]]
      type = Terminal
      parent = startup_split
      order = 0
      profile = player
      command = /aichallenge/utils/terminator_pane.bash prepared virtual-scan-rl-autoware
    [[[simulator]]]
      type = Terminal
      parent = startup_split
      order = 1
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared simulator
    [[[workspace_split]]]
      type = HPaned
      parent = main_split
      order = 1
      position = 1050
      ratio = 0.656
    [[[runner]]]
      type = Terminal
      parent = workspace_split
      order = 0
      profile = training
      command = /aichallenge/utils/terminator_pane.bash prepared virtual-scan-rl-runner
    [[[right_split]]]
      type = VPaned
      parent = workspace_split
      order = 1
      position = 280
      ratio = 0.5
    [[[gpu]]]
      type = Terminal
      parent = right_split
      order = 0
      profile = monitor
      command = /aichallenge/utils/virtual_scan_rl_terminator_pane.bash gpu
    [[[right_bottom_split]]]
      type = VPaned
      parent = right_split
      order = 1
      position = 160
      ratio = 0.571
    [[[status]]]
      type = Terminal
      parent = right_bottom_split
      order = 0
      profile = monitor
      command = /aichallenge/utils/virtual_scan_rl_terminator_pane.bash status
    [[[stop_all]]]
      type = Terminal
      parent = right_bottom_split
      order = 1
      profile = domain0
      command = /aichallenge/utils/terminator_pane.bash prepared stop-all
[plugins]
